
*.apk
*.aar
*.ap_


build/
app/build/
.gradle/

local.properties
*.iml
.idea/

.DS_Store
Thumbs.db

# Seed skripta - tajni ključ i node moduli
scripts/serviceAccountKey.json
scripts/node_modules/
scripts/package-lock.json
scripts/package.json