<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisije kao na vjezbi 2 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slagalica">

        <!-- SplashActivity kao startna tacka - vjezba 2 -->
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Slagalica.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity - vjezba 2 -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <!-- RegisterActivity - vjezba 2 -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- MainActivity sa Navigation Drawer - vjezba GUI II -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

    </application>

</manifest>
